*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ------HEADER------ */
header{
    background-color: rgba(44,62,80,1);
    width: 100%;
}

.bottom_footer{
    background-color: rgba(44,62,80,1);
    width: 100%;
    height: 100px;
}

.content{
    background-color: yellow;
    height: 100px;
}

.navbar a{
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.navbar a:hover{
    color: rgb(197, 197, 197);
}

.navbar-toggler-icon{
    filter: invert(1);
}


/* ------MAIN------ */
/* ---jumbotron--- */
#jumbotron, #about{
    background-color: rgba(26,188,156,1);
}

/* ---portfolio--- */
.content_big, .content_portfolio, .content_portfolio_title, .content_about_title, .content_footer{
    margin: 20px 0;
}

.content_big{
    background-color: yellow;
    height: 400px;
}

.content_portfolio_title, .content_about_title{
    background-color: red;
    height: 100px;
}

.content_portfolio{
    height: 300px;
    background-color: orange;
}



/* ------FOOTER------ */
.top_footer{
    background-color: rgba(58,84,109,1);
}

.bottom_footer{
    height: 150px;
}

.content_footer{
    background-color: green;
    height: 200px;
}