*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ------HEADER------ */
header{
    background-color: rgba(44,62,80,1);
    width: 100%;
}

.bottom_footer{
    background-color: rgba(44,62,80,1);
    width: 100%;
    height: 100px;
}

.content{
    background-color: yellow;
    height: 100px;
}

.navbar a{
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.navbar a:hover{
    color: rgb(197, 197, 197);
}

.navbar-toggler-icon{
    filter: invert(1);
}


/* ------MAIN------ */
/* ---jumbotron--- */
#jumbotron, #about{
    background-color: rgba(26,188,156,1);
}

.img_jumbotron{
    width: 200px;
    margin: 20px 0;
}

/* ---portfolio--- */
.content_big, .content_portfolio, .content_portfolio_title, .content_about_title, .content_footer{
    margin: 20px 0;
}

#portfolio{
    padding: 30px 0;
}

.content_big{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px 0;
}

.line_star_white, .line_star_black{
    margin: 30px auto;
}

.line_star_white::before, .line_star_white::after{
    content: '';
    display: inline-block;
    width: 120px;
    height: 4px;
    background-color: white;
    vertical-align: middle;
}

.line_star_black::before, .line_star_black::after{
    content: '';
    display: inline-block;
    width: 120px;
    height: 4px;
    background-color: black;
    vertical-align: middle;
}


/* ------FOOTER------ */
.top_footer{
    background-color: rgba(58,84,109,1);
}

.bottom_footer{
    height: 150px;
}

.content_footer{
    background-color: green;
    height: 200px;
}